<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebPage">
  <head>
{{ partial "head" . }}
  </head>
  <body>
    <header>
      <div class="title" title="tkmngy.jp"><a href="{{ .Site.BaseURL  }}">{{ .Site.Title  }}</a></div>
      {{ partial "navigation" . }}
    </header>
    <main>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      {{ range .Pages }}
      <section>
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      </section>
      {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
