{{ partial "header.html" . }}
<body>
  <header>
    <h1><a href="{{ .Site.BaseURL  }}">{{ .Site.Title }}</a></h1>
  </header>
  <main>
    <article>
      <h2>{{ .Title }}</h2>
      <footer>
        <p>Posted in {{ .Date.Format "January 2, 2006" }}</p>
        <p title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
        {{ if ne .Lastmod .PublishDate }}
          Modified : {{ dateFormat "January 2, 2006" .Lastmod }}
        {{ end }}
        </p>
      </footer>
      {{ .Content }}
    </article>
  </main>
  {{ partial "footer.html" . }}
</body>

