<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebPage">
  <head>
{{ partial "head" . }}
  </head>
  <body>
    <header>
      <h1 class="title" title="tkmngy.jp"><a href="{{ .Site.BaseURL  }}">{{ .Site.Title }}</a></h1>
      {{ partial "navigation" . }}
    </header>
    <main>
      {{ with .Site.Params.description }}
      <p>{{ . | markdownify }}</p>
      {{ end }}
      <section>
        <h2>最近の読みもの</h2>
        <ol class="entries posts">
    {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05+09:00"}}">{{ .Date.Format "2006年1月2日" }}</time>
          </li>
  {{ end }}
        </ol>
      </section>
    </main>
{{ partial "footer" . }}
  </body>
</html>
