html {
  background-color: white;
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 0;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

a {
  color: rgb(0, 0, 238);
}

a:visited {
  color: rgb(85, 26, 139);
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-left: 1.5rem;

  ul,
  ol {
    margin-top: 0;
  }
}

pre {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  font-family: monospace;
}

code, kbd, samp, var {
  font-family: monospace;
}

dfn {
  font-style: normal;
}

abbr[title] {
  cursor: help;
  text-decoration: none;    
}

table {
  width: 100%;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;

  th,
  td {
    padding: 0.5em;
    border-style: solid;
    border-width: 0 1px 1px 0;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
  }
}

hr {
  margin: 3rem 0;
}

address {
  font-style: normal;
}

img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-width: 0;
}

figure {
  margin-top: 1.5rem;
  margin-bottom: 0;

  img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vartical-align: bottom;
  }
}
