html {
  position: relative;
  padding-bottom: $colspan02;
  background-image: var( --image-logo );
  background-size: ( $colspan01 + $gap ) auto;
  background-repeat: no-repeat;
  background-position: center bottom $space-larger;
  font-family: $font-serif;
  
  @media ( min-width: 72em ) {
    padding-bottom: 0;
    background-size: $colspan02 auto;
    background-position: right $space-larger bottom $space-larger;
  }
}

a {
  color: var( --color-spot-primary );
  text-decoration: underline;

  &:visited {
    color: var( --color-foreground-secondary );
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: var( --color-foreground-primary );

    &:visited {
        color: var( --color-foreground-primary );
    }

    &:hover {
      color: var( --color-foreground-secondary );
      text-decoration: none;
    }
  }
}

h2 {
  font-size: $larger-font-size;
}

h3 {
  font-size: $large-font-size;
  font-weight: normal;
}

header {
  h1 {
    position: relative;
    font-family: $font-primary;
    font-size: $large-font-size;
    letter-spacing: 0.16em;
    
    a {
        text-decoration: none;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: 3px;
      display: block;
      content: "tkmngy.jp";
      letter-spacing: 0;
      font-size: $small-font-size;
      font-weight: normal;
    }
  }
}

.posts li a {
  font-family: $font-serif;
  font-size: $large-font-size;
}

article {
  h1 {
    font-size: $larger-font-size;
  }        
  
  footer {
    color: var( --color-foreground-secondary );
  }

  & > div {
    text-align: justify;
  }
}

hr {
  margin-right: auto;
  margin-left: auto;
  border: 0;
  @include eq-triangle( 1em, $pallet-gray-twilight, bottom );
}

li {
  margin-top: $space-tiny;
  line-height: 1.5;
}

address {
  position: absolute;
  bottom: $space-default;
  left: 0;
  width: 100%;

  @media ( min-width: 72em ) {
    position: static;
  }

  a {
    color: var( --color-foreground-primary );
    font-family: $font-primary;

    &:visited {
        color: var( --color-foreground-primary );
    }

    &:hover {
      color: var( --color-foreground-secondary );
      text-decoration: none;
    }
  }
}
