html {
  position: relative;
  padding-bottom: $colspan02;
  background-image: var( --image-logo );
  background-size: ( $colspan01 + $gap ) auto;
  background-repeat: no-repeat;
  background-position: center bottom ( $margin * 3 );
  font-family: $serif;
  
  @media ( min-width: 72em ) {
    padding-bottom: 0;
    background-size: $colspan02 auto;
    background-position: right ( $margin * 2 ) bottom ( $margin * 2 );
  }
}

a {
  color: var( --color-spot-primary );
  text-decoration: underline;

  &:visited {
    color: var( --color-foreground-secondary );
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {

  a {
    color: var( --color-foreground-primary );

    &:visited {
        color: var( --color-foreground-primary );
    }

    &:hover {
      color: var( --color-foreground-secondary );
      text-decoration: none;
    }
  }
}

header {
  h1 {
    position: relative;
    font-family: toppan-bunkyu-mincho-pr6n, serif;
    font-size: $font-size-root-largest;
    letter-spacing: 0.16em;
    
    a {
        text-decoration: none;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      content: "tkmngy.jp";
      letter-spacing: 0;
      font-size: $small-font-size;
      font-weight: 0;
    }
  }
}

article {
  footer {
    color: var( --color-foreground-secondary );
  }

  > div {
    text-align: justify;
  }
}

hr {
  margin-right: auto;
  margin-left: auto;
  border: 0;
  @include eq-triangle( 1em, $pallet-gray-twilight, bottom );
}

li {
  margin-bottom: ($margin / 3);
  line-height: 1.5;
}

address {
  position: absolute;
  bottom: $margin;
  left: 0;
  width: 100%;

  @media ( min-width: 72em ) {
    position: static;
  }

  a {
    color: var( --color-foreground-primary );

    &:visited {
        color: var( --color-foreground-primary );
    }

    &:hover {
      color: var( --color-foreground-secondary );
      text-decoration: none;
    }
  }
}
