html {
  position: relative;
  padding-bottom: $colspan02;
  background-attachment: fixed;
  font-family: $font-sans-serif-system;
}

a {
  color: var( --color-spot-primary );
  text-decoration: underline;

  &:visited {
    color: var( --color-foreground-secondary );
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  line-height: 1.25;
  font-weight: 600;
  
  a {
    color: var( --color-foreground-primary );

    &:visited {
      color: var( --color-foreground-primary );
    }

    &:hover {
      color: var( --color-foreground-secondary );
      text-decoration: none;
    }
  }
}

h1 {
  font-size: $largest-font-size;
}

h2 {
  font-size: $larger-font-size;
}

h3 {
  font-size: $large-font-size;
}

header {
//  h1 {
//    font-size: $default-font-size;
//  }

  .title {
    position: relative;
    font-size: $large-font-size;
    
    a {
        text-decoration: none;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: 3px;
      display: block;
      content: attr(title);
      letter-spacing: 0;
      font-size: $small-font-size;
    }
  }

  nav li {
    font-size: $small-font-size;

    a, a:visited, mark {
//        color: var( --color-foreground-primary );
//        color: rgb(192, 128, 0);
        color: #C19FC7;
        font-weight: bold;
        text-decoration: none;
        padding-bottom: 2px;
    }

    a:hover {
      color: var( --color-foreground-secondary );
//      text-decoration: underline;
    }

    mark {
        border-bottom: 0.2rem solid;
    }
  }
}

.posts li a {
  // font-weight: bold;
  font-size: $large-font-size;
}

main {
  h1 {
//    font-size: $default-font-size;      
  }
}

article {
  h1 {
//    font-size: $larger-font-size;
  }        
  
  time {
    color: var( --color-foreground-secondary );
  }

  & > div {
    text-align: justify;
  }
}

hr {
  margin-right: auto;
  margin-left: auto;
  border: 0;
//  @include eq-triangle( 1em, rgb(192, 128, 0), bottom );
  @include eq-triangle( 1em, rgb(192, 128, 0), bottom );
}

li {
  margin-top: $space-tiny;
  line-height: 1.4;
}

address {
  position: absolute;
  bottom: $space-default;
  left: 0;
  width: 100%;
  padding-top: ( $colspan01 + $gap + $gap );
  background-image: var( --image-logo );
  background-size: ( $colspan01 ) auto;
  background-repeat: no-repeat;
  background-position: center;
  
  @media ( min-width: 72em ) {
    position: static;
    padding-top: ( $colspan01 + $gap );
    background-position: left top;
  }

  a {
    color: var( --color-foreground-primary );

    &:visited {
        color: var( --color-foreground-primary );
    }

    &:hover {
      color: var( --color-foreground-secondary );
      text-decoration: none;
    }
  }
}
