body {
  max-width: $colspan12;
  margin: 0 auto;
}

header, 
main,
footer {
  margin: 0 $space-small;

  @media ( min-width: 48em ) {
    max-width: ( $colspan07 + $gap );
    margin: 0 auto;
    padding: 0 $space-default;
  }

  @media ( min-width: 72em ) {
    width: ($colspan07 + $gap);
    max-width: 100%;
    margin: 0;
    padding: 0 $colspan01;
  }
}

header h1 {
  margin: $space-large 0 $space-large;

  @media ( min-width: 48em ) {
    margin: $space-large 0 $space-larger;
  }

  @media ( min-width: 72em ) {
    margin-bottom: $space-larger;
  }
}

main > section {
  @media ( min-width: 48em ) {
    margin-left: $space-small;

    h2 {
      margin-left: -$space-small;
    }
  }
}

main h2 {
  margin-top: $space-larger;
}

main h3 {
  margin-top: $space-large;

  a {
    display: block;
    margin-top: $space-tiny;

    @media ( min-width: 48em ) {
      display: inline;
      margin-top: 0;
    }
  }
}

.posts {
  padding-left: 0;

  time {
    display: block;
    color: var( --color-foreground-secondary );
    font-size: $small-font-size;
  }
  
  > li {
    list-style: none;
  }
}

footer {
  margin-top: $space-largest;
  margin-bottom: $space-large;
  text-align: center;

  @media ( min-width: 72em ) {
    text-align: left;
  }
}

article {
  > footer {
    margin: $space-tiny 0 0;
    padding: 0;
    text-align: left;
    font-size: $small-font-size;
  }
}
