<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }} - {{ .Site.Title  }}</title>
{{ partial "meta" . }}
{{ partial "head_includes" . }}
  </head>
  <body>
    <header>
      <h1><a href="{{ .Site.BaseURL  }}">{{ .Site.Title  }}</a></h1>
    </header>
    <main>
      {{ range .Pages.GroupByPublishDate "2006年1月" }}
      <section>
        <h2><time datetime="{{ .Key }}">{{ .Key }}</time></h2>
        <ol>
          {{ range .Pages }}
          <li>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05"}}">{{ .Date.Format "2日" }}</time>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ol>
      </section>
      {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
