<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebPage">
  <head>
{{ partial "head" . }}
  </head>
  <body>
    <header>
      <h1><a href="{{ .Site.BaseURL  }}">{{ .Site.Title  }}</a></h1>
      {{ partial "navigation" . }}
      {{ .Content }}
    </header>
    <main>
      {{ range .Pages.GroupByPublishDate "2006" }}
      <section>
        <h2>{{ .Key }}年</h2>
        <ol class="posts">
          {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05+09:00"}}">{{ .Date.Format "1月2日" }}</time>
          </li>
          {{ end }}
        </ol>
      </section>
      {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
