<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/BlogPosting">
  <head>
{{ partial "head" . }}
  </head>
  <body>
    <header>
      <h1><a href="{{ .Site.BaseURL  }}">{{ .Site.Title }}</a></h1>
      {{ partial "navigation" . }}
    </header>
    <main>
      <article>
        <h1>{{ .Title }}</h1>
        <footer>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05+09:00"}}" itemprop="datePublished">{{ .Date.Format "2006年1月2日" }}</time>
        </footer>
        <div itemprop="articleBody">
          {{ .Content }}
        </div>
      </article>
    </main>
{{ partial "footer" . }}    
  </body>
</html>
