<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    {{ partial "meta.html" . }}
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    {{ partial "head_includes.html" . }}
  </head>
  <body>
    <header>
      <h1>{{ .Site.Title }}</h1>
    </header>
    <main>
      <ol>
      <!-- prettier-ignore -->
      {{ range .Data.Pages.ByPublishDate }}
        <li>
          <a href="{{ .Permalink}}">{{ .Title }}</a>
          <span>{{ .Date.Format "January 2, 2006" }}</span>
        </li>
      <!-- prettier-ignore -->
      {{ end }}
      </ol>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
